# Flutter/Dart ignores
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.apk
*.aar
*.apks
*.app
*.ipa
*.o
*.so
.idea/
.vscode/
*.iml
*.log
.DS_Store
android/.gradle
android/build
ios/Pods
windows/build
linux/build
macos/build
desktop_terminal/build/
desktop_terminal/.dart_tool/
desktop_terminal/.pub-cache/
desktop_terminal/.idea/
# Personal/Other files seen in git status
*.lnk
*.url
*.mp4
*.txt
*.png
*.pdf
*.Brain/
all/
desktop.ini
nexus_v4.py
recapitulatif_flutter.txt
SantePocket_Builds/
